html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #8080802b;
    color: #8a2be2;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    overflow-x: auto;
    /* przewijanie tabel na małym ekranie (telefon) */
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

.body__dark {
    background-color: #000000;
    color: ghostwhite;
}
