.table {
    border-collapse: collapse;
    width: 100%;
}

.table__cell {
    border: 2px solid #000000;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.table__caption {
    caption-side: top;
    text-align: left;
    margin-bottom: 20px;
}

.table__cell--header {
    background-color: darkgreen;
    color: white;
    font-weight: normal;
}

.table__row:nth-child(even) {
    background: #98fef990;
}

.table__row:hover {
    background: #ff7a7aab;
}
